html, body, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Roboto Light", sans-serif;
}

table, tbody {
    height: 100%;
    width: 100%;
    border: 0;
}

table, tbody, tr, td {
    padding: 0;
    border: 0;
}

.first-row {
    background: #aaaaaa;
}

.title {
    height: 30pt;
    width: 20%;
    margin: 0;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

.toolbar {
    width: 80%;
    margin: 0;
    padding: 0;
}

#tools {
    margin: 16px;
    padding: 0;
}

.side-pane-td {
    background: #e4e4e4;
    margin: 0;
    vertical-align: top;
    padding: 10px;
}

.menu-item {
    display: inline-block;
    background-size: contain;
    background-color: white;
    width: 35px;
    height: 35px;
}

.menu-item:hover {
    background-color: lightgray;
}

.menu-item.selected {
    background-color: #5e9cff;
}

.menu-item:active {
    background-color: #3385ff;
}

.menu-divider {
    display: inline-block;
    width: 6px;
}

.interactive-list {
    width: 100%;
    max-height: 404px;
    overflow-y: scroll;
}

.interactive-list-element {
    background: white;
    border: 1px black;
    color: black;
    margin: 0 5px;
    height: 18px;
}

.interactive-list-element .action-button {
    float: right;
    display: none;
    background-size: contain;
    height: 18px;
    width: 18px;
}

.interactive-list-element:hover .action-button {
    display: inline-block;
}

.interactive-list-element .action-button:hover {
    background-color: gray;
}

.interactive-list-element:hover {
    background: lightgray;
}
