html, body, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Roboto Light", sans-serif;
}
table, tbody {
    height: 100%;
    width: 100%;
    border: 0;
}
table, tbody, tr, td {
    padding: 0;
    border: 0;
}
.first-row {
    background: #aaaaaa;
}
.title {
    height: 30pt;
    width: 20%;
    margin: 0;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
.toolbar {
    width: 80%;
    margin: 0;
    padding: 0;
}
#tools {
    margin: 16px;
    padding: 0;
}
.side-pane-td {
    background: #e4e4e4;
    margin: 0;
    vertical-align: top;
    padding: 10px;
}
.tool-group {
    display: inline-block;
    margin: 3px;
}
.tool-group .tool {
    border-radius: 0;
}
.tool-group>.tool:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.tool-group>.tool:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.tool-dropdown-content>.tool:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.tool {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-color: white;
}
.active {
    background-color: #5e9cff;
}
.tool.pressed {
    background-color: #3385ff;
}
.tool:hover:not(.pressed):not(.active) {
    background-color: lightgray;
}
.tool-dropdown {
    position: relative;
    display: inline-block;
}
.tool-dropdown-content {
    display: none;
    position: absolute;
    background: none;
    top: 35px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-inline-start: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.tool-dropdown:hover *,
.tool-dropdown-content *:hover {
    display: block;
}
.interactive-list {
    width: 100%;
    max-height: 404px;
    overflow: auto;
}
.interactive-list-element {
    background: white;
    border: 1px black;
    color: black;
    margin: 0 5px;
    height: 18px;
}
.interactive-list-element span.element-delete {
    float: right;
    display: none;
    background-image: url("../../image/delete.png");
    background-size: contain;
    height: 18px;
    width: 18px;
}
.interactive-list-element span.element-delete:hover {
    background-color: gray;
}
.interactive-list-element:hover {
    background: lightgray;
}
.interactive-list-element:hover span.element-delete {
    display: inline-block;
}